.container{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.esquerda{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:20%;
	height:60vh;
}
.direita{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:80%;
	height:60vh;
}
.menu{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	height:10vh;
	background-color: red;
}
.logo{
	width: 30%;
	height: 100%;
}
.conteinerA{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 30vh;
}
.a1{
	width:80%;
	height:30vh;
	background-color:white;
}
.imga1{
	width:80%;
	height:35vh;
	margin-left:10%;
}
.a2{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:20%;
	height:30vh;	
}
.a2img{
	width:100%;
	height:15vh;
	background-color:pink;
}
.b1{
	width:100%;
	height:100vh;
	background-color:blue;
}
.t1{
	width:100%;
	height:20vh;
	background-color:yellow;
}
.i1{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width:100%;
	height:auto;
	background-color:pink;
	justify-content: space-between;
}

.tabela1{
	width: 30%;
	height:20vh;
	background-color:green;
}
